<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesi칩n - ConsultaApp</title>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <div class="container mt-4">
        <div class="card" style="width: 18rem;"> 
                      
            <div class="card-header">Inicio de Sesi칩n</div>    
            <div class="card-body">
                <form action="/login" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username">                        
                    </div>
                    
                        <label for="password-reg" class="form-label">Contrase침a</label>
                        <input type="password" class="form-control" id="password-reg" name="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Iniciar Sesi칩n</button>
                </form>
            
            </div>
        </div>
        
        <% if (typeof error !== 'undefined') { %>
            <p class="error-message"><%= error %></p>
        <% } %>
    </div>
</body>
</html>


