<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesión - ConsultaApp</title>
    <link rel="stylesheet" href="../public/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!-- Navigation links -->
    <nav>
        <h4>Modulo de Seguimiento</h4>
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/auth/login">Iniciar Sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card" style="width: 18rem;">                       
            <div class="card-header">Inicio de Sesión</div>    
            <div class="card-body">
                <form action="/auth/login" method="POST">
                    <div class="mb-3">
                        <label for="name-reg" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="username" name="username">                        
                    </div>
                    
                        <label for="password-reg" class="form-label">Contraseña</label>
                        <input type="password" class="form-control" id="password-reg" name="password">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
                </form>
            
            </div>
        </div>
        
        <% if (typeof error !== 'undefined') { %>
            <p class="error-message"><%= error %></p>
        <% } %>
    </div>
</body>
</html>


